# ì–¸ì–´ ì„ íƒ / Language Selection
**1. Choose version between English and Korean explanation.**  
**1. ì˜ë¬¸ ì„¤ëª…ê³¼ êµ­ë¬¸ ì„¤ëª… ì¤‘ íƒ1í•˜ì…”ì„œ ì§„í–‰í•˜ì‹œë©´ ë©ë‹ˆë‹¤.**  

-----------
**2. Remove unused cell.**  
**2. ì„ íƒ í•˜ì‹  í›„ ì•ˆì“°ëŠ” ì…€ì€ ì§€ìš°ì‹œë©´ ë©ë‹ˆë‹¤.**  

-----------
**3. There are no additional points or disadvantages in language selection, so please proceed comfortably.ğŸ˜€**  
**3. ì–¸ì–´ì„ íƒì— ê°€ì‚°ì ì´ë‚˜ ë¶ˆì´ìµì€ ì—†ìœ¼ë‹ˆ í¸í•˜ê²Œ ì§„í–‰í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤ğŸ˜€**

-----------
**â€» Make sure to press Ctrl+s (save file) if you left the page :) If you left the page, it would not save your results.**  
**â€» Ctrl+S (ì €ì¥)ì„ ìŠµê´€í™” í•´ì£¼ì„¸ìš”:) ê·¸ëƒ¥ ë‚˜ê°ˆ ê²½ìš° ì €ì¥ì´ ì•ˆë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.**

# **Mapping city name to city code**

### Data

* The data is based on the actual prescirption of national health insurance.

    **[Columns]**
    * ì²˜ë°©ë‚´ì—­ì¼ë ¨ë²ˆí˜¸: Serial number
    * ì„±ë³„ì½”ë“œ: Gender code
    * ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„): Age code(in 5 years)
    * ì‹œë„ì½”ë“œ: City code
    * ìš”ì–‘ê°œì‹œì¼ì: Start date
    * ì•½í’ˆì¼ë°˜ì„±ë¶„ëª…ì½”ë“œ: Component code
    * 1íšŒíˆ¬ì•½ëŸ‰: Single dose
    * 1ì¼íˆ¬ì•½ëŸ‰: Daily dose
    * ì´íˆ¬ì—¬ì¼ìˆ˜: Days of dose

### Code

``` Python
# import module 
import pandas as pd

# load data
df = pd.read_csv('medicine_2011_2018.csv',low_memory=False)
df.head()
```

### Quiz

It's hard to recognize city because it's represented as a code, not a city name.
Using variable 'city', create a column of city name that matches the city code.

**[Hint]**<br>
* The variable city is a string that contains the city code and name.
* The code and name are separated by Space.
* Each [code, name] is separated by Enter

**â€» Do not edit variable city**
<br>

### Task

1. Eliminate useless columns
<br>

*** Caution ***
1. Save only city name and code in the order of name - code in csv.
2. Save without index, encoding must be 'cp949'.

``` Python
# example of saving csv 
df.to_csv('change_code2name.csv')
```

### Example of Output

* Show 5 rows of the csv 

|  | ì‹œë„ëª… | ì‹œë„ì½”ë“œ |
| --- | --- | ---- |
| 0 | ê²½ê¸°ë„ | 41 |
| 1 | ê²½ê¸°ë„ | 41 |
| 2 | ì „ë¼ë‚¨ë„ | 46 |
| 3 | ì „ë¼ë‚¨ë„ | 46 |
| 4 | ê²½ìƒë‚¨ë„ | 48 |

# **ì‹œë„ì½”ë“œë³„ ì‹œë„ëª… Mapping**

### Data

* ë³¸ ë¬¸ì œì—ì„œ ì‚¬ìš©ë˜ëŠ” ë°ì´í„°ëŠ” ì‹¤ì œ êµ­ë¯¼ê±´ê°•ë³´í—˜ì˜ ì²˜ë°©ë‚´ì—­ì„ ë°”íƒ•ìœ¼ë¡œ í•©ë‹ˆë‹¤.  
    **[Columns]**
    * ì²˜ë°©ë‚´ì—­ì¼ë ¨ë²ˆí˜¸, ì„±ë³„ì½”ë“œ, ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„), ì‹œë„ì½”ë“œ, ìš”ì–‘ê°œì‹œì¼ì, ì•½í’ˆì¼ë°˜ì„±ë¶„ëª…ì½”ë“œ, 1íšŒíˆ¬ì•½ëŸ‰, 1ì¼íˆ¬ì•½ëŸ‰, ì´íˆ¬ì—¬ì¼ìˆ˜

### ì´ˆê¸°ì½”ë“œ

``` Python
# ì´ˆê¸°ì½”ë“œ 
# ëª¨ë“ˆ import 
import pandas as pd

# ë°ì´í„° ë¡œë“œ
df = pd.read_csv('medicine_2011_2018.csv',low_memory=False)
df.head()
```

### ê³¼ì œ

í•´ë‹¹ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ê³ ì í•˜ëŠ”ë° ë„ì‹œ ì´ë¦„ì´ ì•„ë‹Œ ì½”ë“œë¡œ ì§€ì •ì´ ë˜ì–´ìˆì–´ í•œëˆˆì— ì•Œì•„ë³´ê¸°ê°€ ì–´ë µêµ°ìš”.  
ë„ì‹œë³„ ì½”ë“œì™€ ì´ë¦„ì´ ì‘ì„±ëœ ë³€ìˆ˜ cityë¥¼ í™œìš©í•˜ì—¬ ì‹œë„ì½”ë“œì— ë§ëŠ” ì‹œë„ëª… ì»¬ëŸ¼ì„ ìƒì„±í•˜ì—¬ ì½”ë“œì— ë§ê²Œ ë§¤í•‘ì‹œí‚¤ëŠ” ê²ƒì´ ì´ë²ˆ ê³¼ì œì˜ ëª©í‘œì…ë‹ˆë‹¤.

**[Hint]**<br>
* city ë³€ìˆ˜ëŠ” ì‹œë„ì½”ë“œì™€ ì‹œë„ëª…ì´ ë‹´ê²¨ìˆëŠ” string ë³€ìˆ˜ì…ë‹ˆë‹¤.
* ì‹œë„ì½”ë“œì™€ ì‹œë„ëª…ì€ Spaceë¡œ êµ¬ë¶„ì´ ë˜ì–´ìˆìŠµë‹ˆë‹¤.
* ê°ê°ì˜ [ì‹œë„ì½”ë“œ, ì‹œë„ëª…]ì€ Enterë¡œ êµ¬ë¶„ì´ ë˜ì–´ìˆìŠµë‹ˆë‹¤.

**â€» city ë³€ìˆ˜ëŠ” ìˆ˜ì • ë¶ˆê°€í•©ë‹ˆë‹¤.**
<br>

### í•  ì¼

1. í•„ìš”ì—†ëŠ” columns ì œê±°  
<br>

*** ì£¼ì˜ ***
1. csv íŒŒì¼ì˜ ì»¬ëŸ¼ì€ ë°˜ë“œì‹œ ì‹œë„ëª…ê³¼ ì‹œë„ì½”ë“œë§Œ ì €ì¥í•´ì£¼ì„¸ìš”\. ìˆœì„œëŠ” ì‹œë„ëª…\-ì‹œë„ì½”ë“œ ìˆœì´ì–´ì•¼ í•©ë‹ˆë‹¤.
2. indexëŠ” ì—†ì´ ì €ì¥í•´ì£¼ì„¸ìš”. encodingì€ 'cp949'ë¡œ ì €ì¥í•´ì£¼ì„¸ìš”.

``` Python
# csv íŒŒì¼ ì €ì¥ ì˜ˆì‹œ 
df.to_csv('change_code2name.csv')
```

### Output Example

* ê²°ê³¼ëŠ” ì‹œë„ëª…ê³¼ ì‹œë„ì½”ë“œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•˜ì—¬ ì°¨ë¡€ë¡œ head 5ê°œë¥¼ ë³´ì—¬ì£¼ì‹œë©´ ë©ë‹ˆë‹¤.

|  | ì‹œë„ëª… | ì‹œë„ì½”ë“œ |
| --- | --- | ---- |
| 0 | ê²½ê¸°ë„ | 41 |
| 1 | ê²½ê¸°ë„ | 41 |
| 2 | ì „ë¼ë‚¨ë„ | 46 |
| 3 | ì „ë¼ë‚¨ë„ | 46 |
| 4 | ê²½ìƒë‚¨ë„ | 48 |

In [124]:
# import modules anything you want.
# Before you start, please execute below cells.
import pandas as pd
import numpy as np

In [125]:
# Before you start, please execute below cells.
data = pd.read_csv('medicine_2011_2018.csv')
data.head(5)

   ì²˜ë°©ë‚´ì—­ì¼ë ¨ë²ˆí˜¸  ì„±ë³„ì½”ë“œ  ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)  ì‹œë„ì½”ë“œ    ìš”ì–‘ê°œì‹œì¼ì  ì•½í’ˆì¼ë°˜ì„±ë¶„ëª…ì½”ë“œ  1íšŒíˆ¬ì•½ëŸ‰  1ì¼íˆ¬ì•½ëŸ‰  ì´íˆ¬ì—¬ì¼ìˆ˜
0       301     1           12    41  20111109  246501ATB    1.0      3      3
1       310     1           14    41  20111125  246501ATB    1.0      3      7
2      1013     2            9    46  20111203  246502ATB    1.0      3     14
3      1014     2            9    46  20111219  246502ATB    1.0      3     14
4      2563     1           10    48  20111205  246501ATB    1.0      1     30

In [126]:
data.shape

(423471, 9)

In [127]:
data.drop(data.iloc[:, 0:3], inplace=True, axis=1)

In [128]:
data

        ì‹œë„ì½”ë“œ    ìš”ì–‘ê°œì‹œì¼ì  ì•½í’ˆì¼ë°˜ì„±ë¶„ëª…ì½”ë“œ  1íšŒíˆ¬ì•½ëŸ‰  1ì¼íˆ¬ì•½ëŸ‰  ì´íˆ¬ì—¬ì¼ìˆ˜
0         41  20111109  246501ATB    1.0      3      3
1         41  20111125  246501ATB    1.0      3      7
2         46  20111203  246502ATB    1.0      3     14
3         46  20111219  246502ATB    1.0      3     14
4         48  20111205  246501ATB    1.0      1     30
...      ...       ...        ...    ...    ...    ...
423466    41  20180501  246501ATB    1.0      2     30
423467    41  20180605  246501ATB    1.0      2     30
423468    41  20180102  246501ATB    1.0      2     30
423469    41  20180123  246501ATB    1.0      2     30
423470    41  20180904  246501ATB    1.0      2     15

[423471 rows x 6 columns]

In [129]:
data.drop(data.iloc[:, 1:], inplace=True, axis=1)

In [130]:
data

        ì‹œë„ì½”ë“œ
0         41
1         41
2         46
3         46
4         48
...      ...
423466    41
423467    41
423468    41
423469    41
423470    41

[423471 rows x 1 columns]

In [131]:
# Before you start, please execute below cells.
city = """11 ì„œìš¸íŠ¹ë³„ì‹œ
42 ê°•ì›ë„
26 ë¶€ì‚°ê´‘ì—­ì‹œ
43 ì¶©ì²­ë¶ë„
27 ëŒ€êµ¬ê´‘ì—­ì‹œ
44 ì¶©ì²­ë‚¨ë„
28 ì¸ì²œê´‘ì—­ì‹œ
45 ì „ë¼ë¶ë„
29 ê´‘ì£¼ê´‘ì—­ì‹œ
46 ì „ë¼ë‚¨ë„
30 ëŒ€ì „ê´‘ì—­ì‹œ
47 ê²½ìƒë¶ë„
31 ìš¸ì‚°ê´‘ì—­ì‹œ
48 ê²½ìƒë‚¨ë„
36 ì„¸ì¢…íŠ¹ë³„ìì¹˜ì‹œ
49 ì œì£¼íŠ¹ë³„ìì¹˜ë„
41 ê²½ê¸°ë„
50 ê¸°íƒ€"""
city

'11 ì„œìš¸íŠ¹ë³„ì‹œ\n42 ê°•ì›ë„\n26 ë¶€ì‚°ê´‘ì—­ì‹œ\n43 ì¶©ì²­ë¶ë„\n27 ëŒ€êµ¬ê´‘ì—­ì‹œ\n44 ì¶©ì²­ë‚¨ë„\n28 ì¸ì²œê´‘ì—­ì‹œ\n45 ì „ë¼ë¶ë„\n29 ê´‘ì£¼ê´‘ì—­ì‹œ\n46 ì „ë¼ë‚¨ë„\n30 ëŒ€ì „ê´‘ì—­ì‹œ\n47 ê²½ìƒë¶ë„\n31 ìš¸ì‚°ê´‘ì—­ì‹œ\n48 ê²½ìƒë‚¨ë„\n36 ì„¸ì¢…íŠ¹ë³„ìì¹˜ì‹œ\n49 ì œì£¼íŠ¹ë³„ìì¹˜ë„\n41 ê²½ê¸°ë„\n50 ê¸°íƒ€'

In [132]:
# Match city name and code using variable city.
#data['ì‹œë„ëª…'] = data['']
city = {11:'ì„œìš¸íŠ¹ë³„ì‹œ',
        42:'ê°•ì›ë„',
        26:'ë¶€ì‚°ê´‘ì—­ì‹œ',
        43:'ì¶©ì²­ë¶ë„',
        27:'ëŒ€êµ¬ê´‘ì—­ì‹œ',
        44:'ì¶©ì²­ë‚¨ë„',
        28:'ì¸ì²œê´‘ì—­ì‹œ',
        45:'ì „ë¼ë¶ë„',
        29:'ê´‘ì£¼ê´‘ì—­ì‹œ',
        46:'ì „ë¼ë‚¨ë„',
        30:'ëŒ€ì „ê´‘ì—­ì‹œ',
        47:'ê²½ìƒë¶ë„',
        31:'ìš¸ì‚°ê´‘ì—­ì‹œ',
        48:'ê²½ìƒë‚¨ë„',
        36:'ì„¸ì¢…íŠ¹ë³„ìì¹˜ì‹œ',
        49:'ì œì£¼íŠ¹ë³„ìì¹˜ë„',
        41:'ê²½ê¸°ë„',
        50:'ê¸°íƒ€'
       }

In [133]:
data['ì‹œë„ì½”ë“œ']

0         41
1         41
2         46
3         46
4         48
          ..
423466    41
423467    41
423468    41
423469    41
423470    41
Name: ì‹œë„ì½”ë“œ, Length: 423471, dtype: int64

In [134]:
data['ì‹œë„ì½”ë“œ'].map(city)

0          ê²½ê¸°ë„
1          ê²½ê¸°ë„
2         ì „ë¼ë‚¨ë„
3         ì „ë¼ë‚¨ë„
4         ê²½ìƒë‚¨ë„
          ...
423466     ê²½ê¸°ë„
423467     ê²½ê¸°ë„
423468     ê²½ê¸°ë„
423469     ê²½ê¸°ë„
423470     ê²½ê¸°ë„
Name: ì‹œë„ì½”ë“œ, Length: 423471, dtype: object

In [135]:
#@data2.insert(0, 'new-col', data)

In [136]:
data.insert(0, 'ì‹œë„ëª…', data['ì‹œë„ì½”ë“œ'].map(city))

In [137]:
data

         ì‹œë„ëª…  ì‹œë„ì½”ë“œ
0        ê²½ê¸°ë„    41
1        ê²½ê¸°ë„    41
2       ì „ë¼ë‚¨ë„    46
3       ì „ë¼ë‚¨ë„    46
4       ê²½ìƒë‚¨ë„    48
...      ...   ...
423466   ê²½ê¸°ë„    41
423467   ê²½ê¸°ë„    41
423468   ê²½ê¸°ë„    41
423469   ê²½ê¸°ë„    41
423470   ê²½ê¸°ë„    41

[423471 rows x 2 columns]

In [138]:
data.head()

    ì‹œë„ëª…  ì‹œë„ì½”ë“œ
0   ê²½ê¸°ë„    41
1   ê²½ê¸°ë„    41
2  ì „ë¼ë‚¨ë„    46
3  ì „ë¼ë‚¨ë„    46
4  ê²½ìƒë‚¨ë„    48

In [139]:
# Save data as csv file, encoding must be 'cp949', without index
data.to_csv("change_code2name.csv", index=False, encoding='cp949')

In [140]:
data = pd.read_csv('change_code2name.csv', encoding='cp949')
data.head(5)

    ì‹œë„ëª…  ì‹œë„ì½”ë“œ
0   ê²½ê¸°ë„    41
1   ê²½ê¸°ë„    41
2  ì „ë¼ë‚¨ë„    46
3  ì „ë¼ë‚¨ë„    46
4  ê²½ìƒë‚¨ë„    48